.container {
  margin: $small-spacing $small-spacing 0;

  @include media($medium-screen) {
    @include outer-container;
    padding: $small-spacing $small-spacing 0;
  }

  @include media($large-screen) {
    padding: 0;
  }
}
