.devise {
  @include media($medium-screen) {
    @include shift(3);
    @include span-columns(6);
    margin-top: 75px;
  }

  .form-heading {
    font-size: $base-font-size * 1.5;
    margin-bottom: $small-spacing;
  }

  .form-actions {
    @include shift(1);
    @include span-columns(10);
    margin-top: $base-spacing;


    @include media($medium-screen) {
      @include shift(1 of 6);
      @include span-columns(4 of 6);
    }

    .submit {
      @include fill-parent;
      margin-bottom: $small-spacing;
    }
  }
}
