@mixin flash($color) {
  background: $color;
  color: darken($color, 60);

  a {
    border-bottom: 1px solid transparentize(darken($color, 70), .7);
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}


.flashes {
  @include position(fixed, null 25px 25px null);
  z-index: 99999;

  .flash {
    @include animation(fadeInUp 500ms);
    border-radius: $base-border-radius;
    margin-bottom: $base-spacing / 2;
    padding-right: 20px;
    padding: $base-spacing / 2;

    &.alert {
      @include flash($alert-color);
    }

    &.error {
      @include flash($error-color);
    }

    &.notice {
      @include flash($notice-color);
    }

    &.success {
      @include flash($success-color);
    }

    .flash-close {
      @include position(relative, -8px -8px null null);
      cursor: pointer;
      float: right;
      font-size: $base-line-height * 1em;
      font-weight: bold;
      opacity: .2;

      &:hover {
        opacity: .5;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
