@mixin flash($color) {
  background: $color;
  color: darken($color, 60);

  a {
    border-bottom: 1px solid transparentize(darken($color, 70), .7);
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}

.flashes {
  @include position(fixed, null 25px 25px null);
  z-index: 999;

  .flash {
    border-radius: $base-border-radius;
    display: block;
    margin-bottom: $small-spacing;
    opacity: 0;
    padding: $small-spacing;
    text-align: center;

    &.alert {
      @include flash($alert-color);
    }

    &.error {
      @include flash($error-color);
    }

    &.notice {
      @include flash($notice-color);
    }

    &.success {
      @include flash($success-color);
    }

    &.fade-in {
      @include animation(fadeInUp 500ms);
      opacity: 1;
    }

    &.fade-out {
      @include animation(fadeOutDown 500ms);
    }

    .flash-close {
      @include position(relative, -8px -4px null null);
      cursor: pointer;
      float: right;
      font-size: $base-line-height * 1em;
      font-weight: bold;
      opacity: .2;
      padding-right: 3px;

      &:hover {
        opacity: .5;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
