@mixin attach-to-input($color) {
  @include border-bottom-radius($base-border-radius);
  @include font-smoothing;
  background-color: $color;
  color: $white;
  display: block;
  margin-bottom: $small-spacing;
  padding: 0 ($base-spacing / 3);
}

.form-group {
  $form-error-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($red, $lightness: -5%, $alpha: -.3);

  > input {
    position: relative;
    transition: all $base-duration $base-timing;

    &:focus {
      z-index: 2;
    }
  }

  &.connected,
  &.hide-label {
    > label {
      display: none;
    }
  }

  &.connected {
    &.top > input {
      @include border-bottom-radius(0);
      margin-bottom: -1px;
    }

    &.middle > input {
      border-radius: 0;
      margin-bottom: -1px;
    }

    &.bottom > input {
      @include border-top-radius(0);
    }
  }

  &.remember-me {
    margin-bottom: $small-spacing;
  }

  &.input-hint {
    > input {
      @include border-bottom-radius(0);
      margin-bottom: -1px;
    }

    > .hint {
      @include attach-to-input($blue);
    }

    &.input-error > .hint {
      display: none;
    }

    &.connected > .hint {
      border-radius: 0;
      margin-bottom: -1px;
    }

    &.connected.bottom > .error {
      @include border-bottom-radius($base-border-radius);
      margin-bottom: $small-spacing;
    }
  }

  &.input-error {
    > input {
      @include border-bottom-radius(0);
      border-color: $red;
      margin-bottom: -1px;

      &:focus {
        box-shadow: $form-error-box-shadow-focus;
        outline: none;
      }
    }

    > .error {
      @include attach-to-input($red);
    }

    &.connected > .error {
      border-radius: 0;
      margin-bottom: -1px;
    }

    &.connected.bottom > .error {
      @include border-bottom-radius($base-border-radius);
      margin-bottom: $small-spacing;
    }
  }
}
