input[disabled],
textarea[disabled] {
  background-color: lighten($light-gray, 10%);
  cursor: not-allowed;
}

.form-group {
  $error-border-color: darken($error-color, 35%);
  $error-text-color: #fff;
  $form-error-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($error-border-color, $lightness: -5%, $alpha: -.3);
  $hint-border-color: $action-color;
  $hint-text-color: #fff;

  > input {
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s, z-index ease-in-out .15s);
    position: relative;

    &:focus {
      z-index: 2;
    }
  }

  &.connected,
  &.hide-label {
    > label {
      display: none;
    }
  }

  &.connected {
    &.top > input {
      @include border-bottom-radius(0);
      margin-bottom: -1px;
    }

    &.middle > input {
      border-radius: 0;
      margin-bottom: -1px;
    }

    &.bottom > input {
      @include border-top-radius(0);
    }
  }

  &.remember-me {
    margin-bottom: $small-spacing;
  }

  &.input-hint {
    > input {
      @include border-bottom-radius(0);
      margin-bottom: -1px;
    }

    > .hint {
      @include border-bottom-radius($base-border-radius);
      background-color: $hint-border-color;
      color: $hint-text-color;
      display: block;
      margin-bottom: $small-spacing;
      padding: 0 ($base-spacing / 3);
    }

    &.input-error > .hint,
    &.connected > .hint {
      border-radius: 0;
      margin-bottom: -1px;
    }

    &.connected.bottom > .error {
      @include border-bottom-radius($base-border-radius);
      margin-bottom: $small-spacing;
    }
  }

  &.input-error {
    > input {
      @include border-bottom-radius(0);
      border-color: $error-border-color;
      margin-bottom: -1px;

      &:focus {
        box-shadow: $form-error-box-shadow-focus;
        outline: none;
      }
    }

    > .error {
      @include border-bottom-radius($base-border-radius);
      background-color: $error-border-color;
      color: $error-text-color;
      display: block;
      margin-bottom: $small-spacing;
      padding: 0 ($base-spacing / 3);
    }

    &.connected > .error {
      border-radius: 0;
      margin-bottom: -1px;
    }

    &.connected.bottom > .error {
      @include border-bottom-radius($base-border-radius);
      margin-bottom: $small-spacing;
    }
  }
}
