// TODO dropdowns & mobile-friendly
.nav {
  $nav-background: $dark-gray;
  $nav-background-active: darken($nav-background, 10);
  $nav-color: transparentize(#fff, .3);
  $nav-color-hover: #fff;
  $nav-margin-bottom: 20px;
  $nav-height: 50px;
  $nav-padding: 1em;

  background-color: $nav-background;
  border: 1px solid transparent;
  margin-bottom: $nav-margin-bottom;
  min-height: $nav-height;
  z-index: 999;

  .navbar {
    @include clearfix;
    display: inline-block;
    float: left;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    &.navbar-right {
      float: right;
    }

    > li {
      display: inline-block;
      position: relative;

      > a {
        color: $nav-color;
        display: inline-block;
        padding: $nav-padding;
        position: relative;

        &:focus,
        &:hover {
          color: $nav-color-hover;
        }
      }

      &.active > a {
        background: $nav-background-active;
      }
    }
  }
}
