.navbar {
  $navbar-background-color: #5b5e63;
  $navbar-background-color-hover: darken($navbar-background-color, 10%);
  $navbar-background-color-active: darken($navbar-background-color, 5%);
  $navbar-height: 3em;
  $navbar-submenu-width: 12em;
  $navbar-submenu-separator-color: lighten($navbar-background-color, 10%);
  $navbar-text-color: $white;

  @include clearfix;
  @include font-smoothing;
  background-color: $navbar-background-color;
  min-height: $navbar-height;

  .navbar-container {
    @include outer-container;
  }

  .navbar-menu-button {
    color: lighten($navbar-background-color, 40%);
    display: block;
    font-size: 32px;
    padding-right: .5em;
    text-align: right;
    width: 100%;

    @include media($medium-screen) {
      display: none;
    }

    &:focus,
    &:hover {
      color: lighten($navbar-background-color, 50%);
    }
  }

  .navbar-toggle {
    display: none;
    width: 100%;

    @include media($medium-screen) {
      display: block;
      float: left;

      .navbar-right {
        float: right;
      }
    }

    &.show {
      display: block;
    }
  }

  ul > li {
    @include media($medium-screen) {
      display: inline-block;
    }

    > a {
      color: $navbar-text-color;
      display: inline-block;
      font-weight: bold;
      padding: .75em .5em;
      text-align: right;
      width: 100%;

      &:focus,
      &:hover {
        background-color: $navbar-background-color-hover;
      }
    }

    &.active > a {
      background-color: $navbar-background-color-active;
    }
  }

  .more {
    position: relative;

    > a {
      @include media($medium-screen) {
        &:focus,
        &:hover {
          background-color: $navbar-background-color;
        }
      }

      &:after {
        content: "\25BE";
        padding-left: .2em;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }
  }

  .submenu {
    display: none;

    @include media($medium-screen) {
      position: absolute;
      top: $navbar-height;
    }

    > li {
      display: block;

      > a {
        background-color: $navbar-background-color;

        @include media($medium-screen) {
          padding: .75em;
          text-align: left;
          width: $navbar-submenu-width;
        }
      }

      &:last-child > a {
        @include border-bottom-radius($base-border-radius);
      }

      &.separator {
        background-color: $navbar-submenu-separator-color;
        height: 1px;
      }
    }
  }
}
