.pagination {
  $pagination-border: 1px solid $base-border-color;
  $pagination-background: lighten($base-border-color, 10);
  $pagination-disabled-background: darken($pagination-background, 5);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;
  $pagination-disabled-color: lighten($pagination-color, 20);

  margin-bottom: $base-spacing;
  text-align: center;

  ul {
    display: inline-block;

    li {
      display: inline;

      a,
      span {
        @include transition(all .2s ease-in-out);
        border: 1px solid transparent;
        float: left;
        margin-left: -1px;
        padding: ($base-spacing / 4) ($gutter / 2);
        position: relative;
        width: 38px;
      }

      a {
        background: $pagination-background;
        border: $pagination-border;
        color: $pagination-color;

        &:hover,
        &:focus {
          background: $pagination-hover-background;
          color: $action-color;
        }
      }

      span {
        background: $action-color;
        color: $pagination-hover-background;

        &.disabled {
          background: $pagination-disabled-background;
          border: $pagination-border;
          color: $pagination-disabled-color;
        }
      }

      &:first-child {
        a,
        span {
          @include border-left-radius($base-border-radius);
        }
      }

      &:last-child {
        a,
        span {
          @include border-right-radius($base-border-radius);
        }
      }
    }
  }
}
