// Stolen from GitHub's CSS
.tooltipped {
  $tooltip-background-color: rgba(0, 0, 0, 0.8);
  $tooltip-text-color: #fff;
  $tooltip-z-index: 99999;

  position: relative;

  &:before {
    border: 5px solid transparent;
    color: $tooltip-background-color;
    content: "";
    display: none;
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
    z-index: $tooltip-z-index;
  }

  &:after {
    background-color: $tooltip-background-color;
    border-radius: $base-border-radius;
    color: $tooltip-text-color;;
    content: attr(aria-label);
    display: none;
    font-size: 10px;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.5;
    padding: 5px 8px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: pre;
    word-wrap: break-word;
    z-index: $tooltip-z-index;
  }

  &:hover,
  &:active,
  &:focus {
    &:before,
    &:after {
      display: inline-block;
      text-decoration: none;
    }
  }

  &-n,
  &-s {
    &:after {
      @include transform(translateX(50%));
    }
  }

  &-n,
  &-ne,
  &-nw {
    &:before {
      border-top-color: $tooltip-background-color;
      bottom: auto;
      margin-right: -5px;
      right: 50%;
      top: -5px;
    }

    &:after {
      bottom: 100%;
      margin-bottom: 5px;
      right: 50%;
    }
  }

  &-ne:after {
    left: 50%;
    margin-left: -15px;
    right: auto;
  }

  &-nw:after {
    margin-right: -15px;
  }

  &-s,
  &-se,
  &-sw {
    &:before {
      border-bottom-color: $tooltip-background-color;
      bottom: -5px;
      margin-right: -5px;
      right: 50%;
      top: auto;
    }

    &:after {
      margin-top: 5px;
      right: 50%;
      top: 100%;
    }
  }

  &-se:after {
    left: 50%;
    margin-left: -15px;
    right: auto;
  }

  &-sw:after {
    margin-right: -15px;
  }

  &-e,
  &-w {
    &:before {
      bottom: 50%;
      top: 50%;
    }

    &:after {
      @include transform(translateY(50%));
      bottom: 50%;
    }
  }

  &-e {
    &:before {
      border-right-color: $tooltip-background-color;
      margin-top: -5px;
      right: -5px;
    }

    &:after {
      left: 100%;
      margin-left: 5px;
    }
  }

  &-w {
    &:before {
      border-left-color: $tooltip-background-color;
      left: -5px;
      margin-top: -5px;
    }

    &:after {
      margin-right: 5px;
      right: 100%;
    }
  }
}
