// === ReactCSSTransitions ===

// fade
.fade {
  &-appear, &-enter {
    @include transition(opacity .4s ease-in-out);
    opacity: 0;

    &-active {
      opacity: 1;
    }
  }

  &-leave {
    @include transition(opacity .4s ease-in-out);
    opacity: 1;

    &-active {
      opacity: 0;
    }
  }
}
