.users-heading {
  margin-bottom: $base-spacing;
}

// TODO: style users index
.users {
  margin-bottom: $base-spacing;

  @include media($medium-screen) {
    @include shift(1);
    @include span-columns(10);
  }

  .user {
    margin-bottom: $small-spacing;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      border-radius: $base-border-radius;
    }
  }
}

// TODO: mobile-first
.user-info {
  @include media($medium-screen) {
    @include span-columns(3);
  }
}

.user-profile {
  // TODO: mobile-first

  @include media($medium-screen) {
    @include span-columns(9);
  }
}

.user-characters .character-card {
  $character-card-background: lighten($base-border-color, 10%);
  $character-card-hover-background: lighten($character-card-background, 10%);
  $character-card-image-background: #dbd199;
  $character-card-image-hover-background: lighten($character-card-image-background, 5%);
  $character-card-line-height: $base-line-height * 1em;

  @include shift(1);
  @include span-columns(10);
  background-color: $character-card-background;
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  margin-bottom: $base-spacing;
  transition: all $base-duration $base-timing;

  @include media($medium-screen) {
    @include omega(3n);
    @include shift(0);
    @include span-columns(3 of 9);
  }

  .character-image {
    overflow: hidden;

    img {
      @include border-top-radius($base-border-radius - 1);
      background-color: $character-card-image-background;
      transition: all $base-duration $base-timing;
      width: 100%;
    }
  }

  // TODO: fix padding for medium-screen
  .character-header {
    border-bottom: 1px solid $base-border-color;
    color: $base-font-color;
    font-weight: bold;
    line-height: $character-card-line-height;
    padding: ($base-spacing / 3) $small-spacing;
    transition: all $base-duration $base-timing;
  }

  // TODO: fix padding for medium-screen
  .character-description {
    color: $base-font-color;
    line-height: $character-card-line-height;
    padding: $small-spacing;
    transition: all $base-duration $base-timing;
  }

  &:focus,
  &:hover {
    background-color: $character-card-hover-background;

    .character-image img {
      background-color: $character-card-image-hover-background;
    }
  }

  &:active {
    background-color: $character-card-background;
  }
}
