// === Colors ===
$red: #e5474d;
$light-red: lighten($red, 35%);

$orange: #f47a33;
$light-orange: lighten($orange, 30%);

$yellow: #ffe026;
$light-yellow: lighten($yellow, 30%);

$green: #9bb530;
$light-green: lighten($green, 40%);

$blue: #477dca;
$light-blue: lighten($blue, 40%);

// Flashes
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-blue;
$success-color: $light-green;
