<header class="navigation">
  <nav class="navigation-wrapper">
    <ul class="navigation-menu">
      <li class="nav-link"><%= link_to t('.links.home'), root_path %></li>
      <li class="nav-link"><%= link_to t('.links.about'), "/about" %></li>
      <!-- TODO -->
      <!-- <li class="nav-link"></li> -->
      <!-- <div class="right"> -->
        <!-- <li class="nav-link"></li> -->
        <!-- <li class="nav-link"></li> -->
        <!-- <li class="nav-link"></li> -->
      <!-- </div> -->
    </ul>
  </nav>
</header>
