!!!
%html{ lang: I18n.locale }
  %head
    = render "layouts/head"
  %body
    = render "layouts/navbar"
    .container
      #react-flashes
      = yield

    :javascript
      React.render(
        React.createElement(
          Flashes,
          { initialFlashes: #{flash.to_hash.to_json} }
        ),
        $('#react-flashes')[0]
      );
